.hamburgerIcon{
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2.5rem;
}
@media screen and (max-width: 700px){
  .hamburgerIcon{
      display: unset;
  }
}
@media screen and (max-width: 400px){
  .hamburgerIcon{
      width: 1.5rem;
      height: 2rem;
  }
}